@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .setimg {
        margin: 0;
        font-family: Arial, sans-serif;
        background-image: url('/index/bgimg.png');
        background-size: cover;
        background-attachment: fixed;

    }

</style>

<div class="setimg">
    <div id="carouselExampleCaptions" class="carousel slide pt-1" data-bs-ride="carousel">

        <div class="carousel-inner" style="position:sticky;">
            <div class="carousel-item active">
                <img src="~/services/app.png" class="d-block w-100 slide" alt="video">
            </div>
        </div>
    </div>
    <header class=" container-fluid hero">
        <h1>Best Mobile App Development Company In Noida</h1>
    </header>

    <div class="row pt-5 d-flex justify-content-evenly">
        <h3 class="fw-bold text-center text-white pb-3">Our Portfolio for Application</h3>
        <div class="col-md-3">
            <div class="card text-center">
                <img src="~/About/Tera Mathematics.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Tera Mathematics</h3>
                    <h5 class="card-text">Online Exam Application</h5>
                    <p>Application</p>
                </div>
                <div class="text-center  fw-bold bg-black" style="height:50px;"><a class="text-white" href="#"><h3>Visite</h3></a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <img src="~/About/shaurya.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Shaurya</h3>
                    <h5 class="card-text">Online Exam Application</h5>
                    <p>Application</p>
                </div>
                <div class="text-center  fw-bold bg-black" style="height:50px;"><a class="text-white" href="#"><h3>Visite</h3></a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <img src="~/About/bagmaa.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Bagmaa</h3>
                    <h5 class="card-text">Online Exam Application</h5>
                    <p>Application</p>
                </div>
                <div class="text-center  fw-bold bg-black" style="height:50px;"><a class="text-white" href="#"><h3>Visite</h3></a></div>
            </div>
        </div>
    </div>
    <div class="row pt-5 d-flex justify-content-evenly">
        <div class="col-md-3">
            <div class="card text-center">
                <img src="~/About/xseed.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title fw-bold">X-SEED CLASSES</h3>
                    <h5 class="card-text">Online Exam Application</h5>
                    <p>Application</p>
                </div>
                <div class="text-center fw-bold bg-black" style="height:50px;"><a class="text-white" href="#"><h3>Visite</h3></a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <img src="~/About/moodi.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Moodi</h3>
                    <h5 class="card-text">Online Shopping,E-Commerce</h5>
                    <p>Application</p>
                </div>
                <div class="text-center fw-bold bg-black" style="height:50px;"><a class="text-white" href="#"><h3>Visite</h3></a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <img src="~/About/examcity.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title fw-bold">Exam City</h3>
                    <h5 class="card-text">Online Exam Application</h5>
                    <p>Application</p>
                </div>
                <div class="text-center fw-bold bg-black" style="height:50px;"><a class="text-white" href="#"><h3>Visite</h3></a></div>
            </div>
        </div>
    </div>

    <div class="row pt-5 d-flex justify-content-evenly">
        <div class="col-md-3">
            <div class="card text-center">
                <img src="~/About/uis+.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title fw-bold">UIS Plus</h3>
                    <h5 class="card-text">Online Exam Application</h5>
                    <p>Application</p>
                </div>
                <div class="text-center fw-bold bg-black" style="height:50px;"><a class="text-white" href="#"><h3>Visite</h3></a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <img src="~/About/Eva Bizz.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title fw-bold">EvaBizz</h3>
                    <h5 class="card-text">Online Learning Application</h5>
                    <p>Application</p>
                </div>
                <div class="text-center fw-bold bg-black" style="height:50px;"><a class="text-white" href="#"><h3>Visite</h3></a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card text-center">
                <img src="~/About/100 Star.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title fw-bold">100 Stars</h3>
                    <h5 class="card-text">Game</h5>
                    <p>Application</p>
                </div>
                <div class="text-center fw-bold bg-black" style="height:50px;"><a class="text-white" href="#"><h3>Visite</h3></a></div>
            </div>
        </div>
    </div>


</div>

