@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    *@
@{
}
<style>
    .setimg {
        margin: 0;
        font-family: Arial, sans-serif;
        background-image: url('/services/our bg.png');
        background-size: cover;
        background-attachment: fixed;
        color: white;
    }

    .contentt {
        background-color: rgba(0, 0, 1, 0.9); /* Black background with 60% opacity */
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        background-attachment: fixed;
    }

    .contenttt {
        background-color: rgba(0, 0, 1, 0.6); /* Black background with 60% opacity */
        padding: 20px;
        margin: 20px;
        border-radius: 10px;
        background-attachment: fixed;
    }
</style>

<div class="setimg">
    <div id="carouselExampleCaptions" class="carousel slide pt-1" data-bs-ride="carousel">

        <div class="carousel-inner" style="position:sticky;">
            <div class="carousel-item active">
                <img src="~/services/our slider.png" loop muted autoplay class="d-block w-100 slide" alt="video">
            </div>
        </div>
    </div>

    <header class=" container-fluid hero">
        <h1>Digital Marketing</h1>
    </header>
    <div class="container-fluid contentt " style="margin-left:2px;">
        <div>
            <p style="text-align:justify">
                DSPMU Ranchi IT Solution offer end to end digital marketing solutions for small, medium, and large scale businesses.
                DSPMU Ranchi IT Solution Pvt Ltd is the most trusted name in the market for Digital marketing.And Digital Marketing is not just about
                selling and advertising a company online, however, it is tied in with winning the faith of customers. We aim at providing our best
                services for your company. Since India is now walking on a digital path, it is essential for all companies to take advantage of the
                digital platform.DSPMU Ranchi IT Solution will add the right spice in your website and tap your target audience in the best possible way.
                Our digital marketing services are strategic, innovative that brings commercial success for our valuable customers. Our services
                include creating effective digital marketing consulting, digital marketing strategies, SEO services, Identifying right target
                audience,Paid campaigns management, Brand Promotion, Social Media Marketing, SEO friendly
                website design optimization, Content Marketing, Lead Generation Campaigns, Creatives for Social Media & Marketing Campaigns etc.
            </p>
        </div>
    </div>

    <div class="main-card contenttt  pt-3 ">
        <div class="row d-flex justify-content-evenly">
            <div class="col-12 col-lg-5 col-md-5">
                <img class="img-fluid" src="~/services/seo img.png" />
            </div>
            <div class="col-12 col-lg-5 col-md-5">
                <h2 class="fw-bold ">Search Engine Optimization [SEO]</h2>
                <div class="" style="text-align:justify">
                    As we live in a digital era today,Customers are making their choices depending upon online ads, reviews, posts, etc.
                    They are also purchasing products from online stores and websites. But with the competition rising it is getting harder to survive
                    in this competitive market.In this situation, SEO has emerged as an effective way to help companies to get the attention they need.
                    <br />
                    We offer SEO Services by which a website is optimized to improve its ranking in search engine results.-even when it comes to highly
                    competitive keywords. Here are some effective tools that DSPMU Ranchi IT Solution use to make their business thrive.
                </div>
                <div class="container text-start pt-1">
                    <ul>
                        <li><a href="#">Keyword Analyzing Tool</a></li>
                        <li><a href="#">Ranking Tools</a></li>
                        <li><a href="#">Link Building Tools</a></li>
                        <li><a href="#">SEO Auditing Tools</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="main-card contenttt left-card pt-3 ">
        <div class="row d-flex justify-content-evenly">

            <div class="col-12 col-lg-5 col-md-5 order-2 order-md-1">
                <h2 class="fw-bold ">Social Media Marketing [SMM]</h2>
                <div class="" style="text-align:justify">
                    Today every business needs to focus on using social media channels in the best possible way. Social media has
                    become an essential part of the digital marketing strategy as it opens new avenues for brands and businesses.
                    Connecting with new clients and expressing your thoughts has become quite easy with social media marketing.
                    <br />
                    As you know that Your website is like a customer service representative.So,we can engage potential customers with
                    Facebook,instagram, twitter, and other channels.Services that we offer:-
                </div>
                <div class="container text-start pt-1">
                    <ul>
                        <li>
                            <a href="#">
                                Regular scheduled Updates
                            </a>
                        </li>
                        <li><a href="#">Use of mostly search keywords</a></li>
                        <li><a href="#">Social media monitoring</a></li>
                        <li><a href="#">Data tracking</a></li>
                        <li><a href="#">Brand Awareness</a></li>
                        <li><a href="#">Budget-friendly</a></li>

                    </ul>
                </div>
            </div>
            <div class="col-12 col-lg-5 col-md-5 order-1 order-md-2">
                <img class="img-fluid" src="~/services/smm.jpg" />
            </div>
        </div>
    </div>
    <div class="main-card contenttt pt-3 ">
        <div class="row d-flex justify-content-evenly">
            <div class="col-12 col-lg-5 col-md-5">
                <img class="img-fluid" src="~/services/ppc2.jpg" />
            </div>
            <div class="col-12 col-lg-5 col-md-5">
                <h2 class="fw-bold ">Pay Per Click [PPC]</h2>
                <div class="" style="text-align:justify">
                    Pay-Per-Click or PPC is an online marketing strategy, where every time an ad is clicked, the search engine is paid by
                    the website owners. When a particular keyword is searched for, depending on the site’s rank, it may be displayed as a
                    sponsored ad on top of the results page. If the user clicks on this ad and visits the page, the site owners pay a
                    previously bidden amount.<br />
                    <p>Our PPC Management Services cover diverse advertising platforms:-</p>
                    <div class="container text-start pt-1">
                        <ul>
                            <li>
                                <a href="#">
                                    Google Adwords
                                </a>
                            </li>
                            <li><a href="#">Facebook Ads</a></li>
                            <li><a href="#">Instagram Ads</a></li>
                            <li><a href="#">Twitter Ads</a></li>
                            <li><a href="#">Linkedin Ads</a></li>
                            <li><a href="#">YouTube Advertising</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="main-card contenttt pt-3 ">
        <div class="row d-flex justify-content-evenly">

            <div class="col-12 col-lg-5 col-md-5 order-2 order-md-1">
                <h2 class="fw-bold ">Email Marketing</h2>
                <div class="">
                    Email Marketing is the best way to target your existing customers and create new ones. Email marketing is a cost-effective, simple and
                    efficient way of digital promotions if done in a right manner.You can direct customers to required pages of your websites through these
                    emails. You can keep your customer’s updates with your Business. This builds trust and a long lasting relationship between you and your
                    customer.
                    <br />
                    Below are a few reasons for using email marketing services:-

                    <li>
                        <a href="#">
                            9 billion people use email applications
                        </a>
                    </li>
                    <li><a href="#">91% of consumers check their email on a daily basis</a></li>
                    <li><a href="#">86% of consumers want to receive emails from brands they do business with.</a></li>
                    <li><a href="#">A lot of consumers have purchased products and services from emails</a></li>

                </div>

            </div>
            <div class="col-12 col-lg-5 col-md-5 order-1 order-md-2">
                <img class="img-fluid" src="~/services/email.jpg" />
            </div>
        </div>
    </div>

</div>